<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/ppi.png"
            class="img-responsive center-block"
            style="margin-top: 50px; max-height: 600px; padding-bottom: 50px" />
      </div>

      <div class="text-center"><span>Developed by:</span></div>
      <div class="text-center">
        <h4>Christian Viezzer</h4>
      </div>
    </div>
  </div>
</div>