<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-3" >
          <div >
            <input type="text" class="form-control" aria-label='Pdb accession'>
          </div>
        </div>
        <div class="col-2">
          <button type="button"class="btn btn-outline-secondary">
            Search Protein
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Accession</th>
            <th>Name</th>
            <th>Gene</th>
            <th>Protein</th>
            </tr>
        </thead>
        <tbody>
          <tr >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card-body"class="card">
  <div class="card-header">
    {{sequenceTitle}}
  </div>
  <div class="card-body">
    <div class="container"></div>
  </div>
  </div>